h1 {
    color: #fcf9ee; 
    background-color: #5D5241;
    text-align: center;
    font-size: 45px;
    margin-left: 18px;
    margin-right: 18px;

}

.img-carrousel { max-width:100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
object-fit: cover;
}

.container-index button:hover { background-color: #adada473; 

   border: solid 5px #c4b77163; 
 

}

.card-body {  background-color: #e0d9cd;
    border: solid 3px #414130e3;
    border-radius: 3px ;
    
    
 }

 .card-title {  padding-left: 0px;
    text-shadow: #5a4423;
    border: solid 1px #2b2a2986;
    margin-right: 300px; 
    padding: 3px 10px;
    padding-left: 35px;
    border-radius: 5px;
    justify-content: center; }

@media (max-width:850px ) {
    .card-title { padding: 3px 2px; 
width:200px ; 
            margin: 0px
}}


 .card-body a:hover { font-size: 20px;
     margin-left: 50px;
     transition: 0.5s;
     box-shadow: #3a3434 3px 2px 1px 3px ;

 }   
#volverpagprinc { text-align: center;

}

footer {margin-bottom: 0px;
   margin-top: 50px;
    
 }


.footer { 
    background-color:  #BBAB8C ; 
    align-items: center;
    text-align: center;
   padding-top:  15px ; 
   padding-bottom: 5px;
  
  
  }


.titulo { margin-bottom: 25px; 
    margin-top: 0px; 
     font-size: 50px;
    text-align: center;
    color:#fcf9ee;
    background-color: #5D5241;
    box-shadow: 2px 10px 3px #928269; 
    padding-top: 10px;
    padding-bottom: 10px;

}





.navbarindex {display: flex;
    gap: 30px;
    background-color: #cfc4a6d3;
    align-items: center;
    border-radius: 3px;
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.navbarlinkindex {background-color: #cfc5af; 
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    border-top: solid 3px rgb(75, 73, 62);
    border-bottom: solid 10px #383827;
    border-left: solid 3px#3a3434;
    border-right:solid 3px #413d3d;
    border-radius: 8px;
    padding: 10px 10px 10px 10px ;
    gap: 10px;

}

@media (max-width:900px) { .navbarindex { background-color: #e9d981;
    display: flex;
    flex-direction: column;
    margin: 0px 0px; 
    padding: 10px 2px;
font-size: 10px; }
 .navbarlinkindex { padding: 5px 5px;
margin: 0px;
font-size: 15px;
color: #5a4423;}
  
  }
.navbar { display: flex;
    gap: 30px;
    background-color: #cfc4a6d3;
    align-items: center;
    border-radius: 3px;
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 25px;

}


    


.navbarlink{ background-color: #cfc5af; 
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    border-top: solid 3px rgb(75, 73, 62);
    border-bottom: solid 10px #383827;
    border-left: solid 3px#3a3434;
    border-right:solid 3px #413d3d;
    border-radius: 8px;
    padding: 10px 10px 10px 10px ;
    gap: 10px;

  }

  .navbarlink  { display: flex;
    padding-left: 350px;
    margin: 3px 300px;   
  }


  .navbar-toggler:hover {
   font-size: 30px;
   border: solid 3px #e9d981;
   border-radius: 3%; 
   transition: 0.3s;
   filter: contrast(65);
   font-size: 33px;
   
}
  .linkindex {   background-color: #cfc5af; 
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    border-top: solid 3px rgb(75, 73, 62);
    border-bottom: solid 10px #383827;
    border-left: solid 3px#3a3434;
    border-right:solid 3px #413d3d;
    border-radius: 8px; 
    padding: 5px 3px;

  }
  .linkindex:hover { background-color:  #ebd9bfa6;
    font-size: 39px; 
    color:#252420;
    padding-left: 200px;
    padding-right: 100px ;
    margin-top: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.7s;

  }

.navbarlink:hover { background-color:  #ebd9bfa6;
    font-size: 39px; 
  
    color:#252420;
   padding-left: 400px;
   padding-right: 300px ;
   margin-top: 7px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   transition: 0.7s;
 
}


a { color: rgb(155, 103, 5);
    font-size: 25px;
   text-align: center;
}


   


body { padding: 0px 0px;
    background-image: url("https://wallpapers.com/images/featured/camo-b4jyfziypywrtbbz.jpg");
    background-size: 110%;
}


#textocomoseorigino { background-color: #F1D3B3;
      font-size: 33px;
}



.mapa {
    text-align: center ;
    
}
 
@media (max-width:1300px) { .navbar {display: flex;
  margin: 0px 0px; 
  padding: 10px 2px;

}
.navbarlink{display: flex;
    margin: 0px 0px; 
    padding: 10px 2px;

}    
}

#linkmapa {
    margin: 50px;
    box-shadow: 5px 5px 6px 5px #3a3434;
    width: 200%;
   box-sizing: border-box ;
   color: rgb(155, 103, 5) ;
    font-size: 35px;
    padding: 10px 15px;
    background-color: #BBAB8C;
   
    color: rgb(155, 103, 5) ;
   
    text-decoration: none;
   
   border-top: solid 7px rgb(110, 110, 105);
   border-bottom: solid 10px #35352c;
   border-left: solid 7px#3a3737;
   border-right:solid 7px #35342d;
border-radius: 8px;
padding: 10px 10px 10px 10px ;
}

.mapa-iframe {  margin-top: 35px; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

.mapa h3 { 
    background-color: #BBAB8C;
   box-sizing: border-box ;
   color: rgb(155, 103, 5) ;
    font-size: 35px;
    padding: 10px 15px;

   
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    border-top: solid 7px rgb(75, 73, 62);
   border-bottom: solid 10px #383827;
   border-left: solid 7px#3a3434;
   border-right:solid 7px #413d3d;
border-radius: 8px;
padding: 10px 10px 10px 10px ;
}

#textomapa { background-color: #FAEED1;
    font-size: 33px;
}

.fotoPrincipal { text-align: center;
          margin-bottom: 1px;
          margin-left: 10px;
          margin-right: 10px;
}



.grilla { 
    padding:  10px 100px ;
    margin: 100px 0px ; 
    display: grid;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 200px ;
     gap:  15px 5px;
     grid-template-areas: 
    ' a1 a2 a3 a4 '

    'a5 a6 a7 a8' 
   ;}

@media (max-width:950px) {
     .grilla { display: flex ;  
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    justify-content: flex-start;
     }
    .mapa h3{ padding: 0px;
        margin-top: 10px;

    }
 .linkmapa { padding: 0px;
    margin: 0px;
    

 }
}


.box { width: 400px;
    height: 400px;
border: 5px solid rgb(122, 89, 44) ; 
justify-content:  center;
align-items: center;
display: flexbox;
border-radius: 10px;
}



.box:hover {  
    background-color: #aca9a4c0;
    border: 5px solid #9b702aef ; 
    box-shadow: 10px 10px 10px 8px #5D5241;
}
.titulobox:hover{ background-color:#5a4423 ; 
    filter:hue-rotate(26)
 }

.textometros:hover { background-color: #5a4423; 
    font-size: 25px;
padding-left: 10px;
}



.box img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.box img:hover { width: 105%; 
    height: 105%;
    border: 5px solid #9b702aef ; 
    box-shadow: 8px 7px 8px 7px  #3d362be1;
}

 .textobox { padding: 10px 30px;
    height: 180px;
    background-color: #BBAB8C;
    color: #fcf9ee; 
    overflow: auto;
 } 

.textobox:hover {  background-color: #dbaf6ba4; 
    font-size: 25px;
 text-align: center; 
 overflow: auto;

}

.titulobox { text-align: center;
    padding: 3px 2px;
    font-size: 25px;
    background-color: #464242;
    color: #fcf9ee;
    text-decoration: 3px overline;
 align-self: start;

}
   
.textometros {  background-color: #928269;
    color: #DED0B6;
    align-self: end;
    padding: 8px 4px;
    
}


.b1 { order: 0;}
.b5 .circulo { margin-top: 5px ;
    margin-left: 10px;
    width: 35Px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px black;
    border-radius: 50%;
    align-self: start;
    align-items: center;
    position: absolute;
    order: 5;
}

.b6 .circulo { margin-top: 5px ;
    margin-left: 10px;
    width: 35Px;
    height: 35px;
    background-color: green;
    border-radius: 3px black;
    border-radius: 50%;
    align-self: start ;
    align-items: center;
    position: absolute;
}

.b7 .circulo {margin-top: 5px ;
    margin-left: 10px;
    width: 35Px;
    height: 35px;
    background-color: yellow;
    border-radius: 3px black;
    border-radius: 50%;
    align-self: self-start;
    align-items: center;
    position: absolute; 
}


.b8 .circulo { 
    margin-top: 5px ;
    margin-left: 10px;
    width: 35Px;
    height: 35px;
    background-color: red;
    border-radius: 3px black;
    border-radius: 50%;
    align-self: self-start;
    align-items: center;
    position: absolute;
}
 

.grilla-contacto  { color: #fcf9ee  ; 
    font-size: 33px ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
grid-template-areas: 'a1 a2' ; 
gap: 0px;

}

@media (max-width:1250px)
 {
    .grilla-contacto { display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 3px;

}
 }


.contacto { display: flexbox; 
width: 100%;
height: 100%;
border:  7px solid rgba(71, 70, 12, 0.877);

}

.c1 {
    background-image: url(https://images.unsplash.com/photo-1665065769045-159f8ecf5016?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 120%;
    height: 100%;
    width: 98%;
    padding-left: 55px;
    
}


 .contacto img {  object-fit: fill;
    height: 100%;
    width: 100%;
    padding-right: 0px;
     }

.contacto:hover { 
    box-shadow: 15px 14px 15px 15px #494444;

}

 
 .c2 p { background-color: #383827;
    color: #FAEED1;
    display: flex;
    position: absolute;
    bottom:  445px ; 
    right: 30px;
    font-size: 60px;

}


form { display: flex;
flex-direction: column ;
justify-self: center;
font-size: 10px;
grid-area: form;
gap: 10px;

}

form label  {
    font-size: 25px;
    padding-bottom: 30px;
}

form input ,textarea { width: 400px;
    color: #080808;
    font-size: 15px; 
    background-color: #e4ddcf;
    padding:  3px  5px;
}


.grilla-mapa { padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 25px;
     grid-template-areas:'mapa1 mapa2 mapa3 '
    'mapa5 mapa6  mapa7' 
    ;
   

}


   

@media (max-width:1850px) { 
     .grilla-mapa { display: flex;
        flex-direction: column;
        gap: 15px;

    }

    
}

.mapa { border: solid 5px  #4e3919;
    display: flexbox;
    padding: 0px; 
   background-color: #ded0b638;
}
.m1 {
     grid-area: mapa1 ;
    
}
.mapa iframe { width: 91%;
    grid-template-columns: auto;
    }
    
.mapa h3 { background-color: #88714fe5;
    color: #fcfaf4;
    font-family: 'Times New Roman', Times, serif;
  font-size: 50px;

}
.mapa:hover {
    background-color: #f0e1bf70;
    border-radius: 3%;
    box-shadow: 5px 5px 9px 10px;
    
 
}

.mapa h3:hover { background-color:rgb(122, 89, 44);


}
 
#linkmapa:hover  { background-color:rgba(122, 89, 44, 0.767);
   
    margin: 50px;
    box-shadow: 5px 5px 10px 10px #3a3434;
    width: 200%;
   
   box-sizing: border-box ;
   color: rgb(155, 103, 5) ;
    font-size: 43px;
    padding: 10px 15px;
    background-color: #BBAB8C;
    box-sizing: border-box ;
    color: rgb(155, 103, 5) ;
   
    text-decoration: none;
   
    border-top: solid 7px rgb(75, 73, 62);
   border-bottom: solid 10px #383827;
   border-left: solid 7px#3a3434;
   border-right:solid 7px #413d3d;
border-radius: 8px;
padding: 10px 10px 10px 10px ;
}

#linkmapa:hover { background-color:rgba(122, 89, 44, 0.74);
 
    color: aliceblue;
     text-decoration: none;
     margin-left: 20px;
     margin-right: 20px;
     border-top: solid 3px rgb(75, 73, 62);
    border-bottom: solid 10px #383827;
    border-left: solid 3px#3a3434;
    border-right:solid 3px #413d3d;
 border-radius: 8px;
 padding: 10px 10px 10px 10px ;
 text-decoration: underline;
 }

.texto-tipo {
    
    
    margin: 0;
   
    background-color: #F1D3B3;
    color: #0f0e0d; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 40px; 
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 30px;
    border-radius: 7px ;
    text-align: center;
    margin-bottom: 0;
}
.texto-tipo img { width: 1200px;
    width: 1200px;} 
.texto-tipo p:hover { font-size: 50px;
    color: #080808;
   border-radius: 3% solid ;
    

}

.tipos-partidas{ display: grid;
    grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr  100%;
   gap: 10px;
  
    
       
}
 
@media (max-width:1250px) {
    .tipos-partidas  { grid-template-columns: 1fr;
    }
.texto-tipo img{ width: 450px;
    height: 250px;}
}
.textopartidas { 
    color: #252420;
    background-color: #FAEED1;
    box-shadow: 5px 10px  1px  #8a7968 ;
}
.textopartidas p { margin: 0px;
    max-width: 100%;
    padding: 5px 15px;
}
.box-tipopartidas { border: solid 5px  #e9c28975;
    display: flexbox;
    padding: 0px;
    border-radius: 5px;
   background-color: #a19a92d5 ; 
   
   
}

.h3{ background-color: #F1D3B3;
    font-size: 33px;
    padding: 10px 5px;
    text-align: center;
    color: #11100f75;
}

.box-tipopartidas:hover { border: solid 10px  #fcd08eaf;
    display: flex;
    box-shadow: inset 5px 1px 20px 5px;
    border-radius: 5px;
   background-color: #858382d5 ; 

}

.textopartidas p:hover { margin: 10px;
    
    background-color: #cfc5afbe; 
font-family: Verdana, Geneva, Tahoma, sans-serif; 
font-size: 20px;

}


@media (max-width:1250px) {   
 .card-group {display: grid; 
    grid-template-columns: 1fr ;
    
}
}
