

/** ACA EMPIEZA  FOOTER **/
 
/**

footer {margin-bottom: 0px;
    margin-top: 50px;
   
    .footer { 
        background-color:  #bba67de5 ; 
        align-items: center;
        text-align: center;
       padding-top:  15px ; 
       padding-bottom: 55px;
       margin-bottom: 0px;
      

       a { color: rgb(155, 103, 5);
        font-size: 25px;
       text-align: center;


       &:hover { background-color: #8a7968; 
        color: #fcfaf4;
        border: 5px solid #a87844;
        border-radius: 15px;
        padding: 6px 3px;
        transition: 0.3s;
        
        
        }
      
          }
         
          .top-navigation {background-color: $primary-color; 
            text-decoration: none;
            margin-left: 20px;
            margin-right: 20px;
            border-top: solid 3px rgb(75, 73, 62);
            border-bottom: solid 10px #383827d7;
            border-left: solid 3px#3a3434;
            border-right:solid 3px #413d3d;
            border-radius: 8px;
            padding: 10px 10px 10px 10px ;
            font-size: 15px;
            &:hover { font-size: 20px;
                padding-left: 15px;
                margin-left: 20px;
                 transition: 0.4s;
              }
           }
    
        
        
        
        }

        
      }
   




**/ 


ol{ 
  li {  text-align: center;
    background-color: $primary-color;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 2px rgb(75, 73, 62);
    border-bottom: solid 5px #383827d7;
    border-left: solid 3px#3a3434;
    border-right:solid 3px #413d3d;
    border-radius: 8px;
   
   }

}

footer{ 
 
  margin-top: 50px;
  
  .footer-grid {  
    background-color:  #bba67de5 ;
    padding-bottom: 20px;
    margin-bottom: 0px;
 
   
  .img-footer { height: 300px ;
             width: 450px;}
 
  .footer-box { display: flexbox;
   margin-top: 20px; 
   border: solid 7px rgba(59, 56, 50, 0);
   width: 600px;
 

  .copyright p { 
    
    font-size: 20px;}
  
   .top-navigation {background-color: $primary-color; 
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
   
    border-radius: 8px;
   
    font-size: 15px;
    &:hover { 
        transform: scale(1.1);
        margin-left: 20px;
        transition: 0.4s;
      }
   }
 
 
}
}
a { color: rgb(155, 103, 5);
  font-size: 25px;
  text-align: center;


 &:hover { background-color: #8a7968; 
  color: #fcfaf4;
  border: 5px solid #a87844;
  border-radius: 15px;
  padding: 6px 3px;
  transition: 0.3s;
  
  
  }

} 

}
  
 





