$primary-color:#cfc5af ;

$estilo-oscuro: light ; 

 
$estilo-claro:dark ; 


/** solo tengo que cambiarlo en los dondicionales tengo que 
escribir el nombre de la variable que quiero usar  y se ejecutra 
el condicional segun a donde me quiero mover si estilo oscuro o mas claro
**/